<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/">Signup</a>
      <a class="navbar-brand" href="/">Login</a>
      <a class="navbar-brand" href="/">Logout</a>
    </div>
  </div>
</nav>