<h3> All Marathons! </h3>
<ul>
<% @runs.each do |run| %>
    <div><%= link_to run.run_race_name, run_path(run) %> </div>
    <div><%= run.location_city %>, <%= run.location_state %></div>
<% end %>
</ul>