// Place all the styles related to the runs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    
    background-color: black;      
    background-size: 100%;        
    color: white;                 
    text-align: center;           
}